.back{
    background: dodgerblue url(logo.png) no-repeat center fixed;
    background-size: 150px;
}
.mark{
    background: forestgreen;
    margin: 20px 40px 60px;
    padding: 20px 40px 60px 80px;
    border: 2px solid black;
    border-radius: 10px;
    outline-width: 4px;
    outline-style: solid;
    outline-color: red;
    outline-offset: -15px;
}
table,th,td{
    border:2px solid rgb(5, 5, 5);
    border-collapse: collapse;
}
tr:hover{
    color: darkorange;
    background-color: black;
}
tr:nth-child(odd){
    background-color: dimgray;
}

.over{
    width: 100px;
    height: 150px;
    background-color: darkseagreen;
    margin-top: 10px;
    overflow: auto;
}
.nav li{
    display: inline-block;
    margin-right: 8px;
    padding: 8px;  
}
.nav{
    background-color: lightblue;
    text-align: right;
}
li a:link{
    color: indigo;
    background-color: cornsilk;
    text-decoration: none;
}
li a:hover{
    color: rgb(211, 165, 14);
    background-color: rgb(228, 35, 10);
    text-decoration: none;
}
li a:active{
    color: rgb(14, 166, 6);
    background-color: rgb(30, 234, 204);
    text-decoration: none;
}
/* li a:visited{
    color: rgb(130, 0, 121);
    background-color: rgb(6, 6, 6);
    text-decoration: none;
} */
.container{
    width: 500px;
    height: 450px;
    background-color: darkturquoise;
    position: relative;
    left: 20px;
    top: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
}
.box1{
    width: 150px;
    height: 200px;
    background-color: cornsilk;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.box2{
    width: 150px;
    height: 200px;
    background-color: cornsilk;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    left: 170px;
}
.box3{
    width: 150px;
    height: 200px;
    background-color: cornsilk;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    left: 330px;
}
.box4{
    width: 150px;
    height: 200px;
    background-color: cornsilk;
    border-radius: 5px;
    position: absolute;
    top: 220px;
    left: 10px;
}
.box5{
    width: 150px;
    height: 200px;
    background-color: cornsilk;
    border-radius: 5px;
    position: absolute;
    top: 220px;
    left: 170px;
}
.box6{
    width: 150px;
    height: 200px;
    background-color: cornsilk;
    border-radius: 5px;
    position: absolute;
    top: 220px;
    left: 330px;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: lightslategrey;
    margin: 8px 12px;
    padding: 4px 8px;
}
.grid-item{
    background-color: honeydew;
    text-align: center;
    font-size: 25px;
    border: 2px solid black;
    padding: 8px 0;
}
.t1{
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
}
.header{
    grid-area: header;
}
.left{
    grid-area: left;
}
.content{
    grid-area: content;
}
.right{
    grid-area: right;
}  
.footer{
    grid-area: footer;
}
.grid{
    display: grid;
    grid-template-areas: 'header header header header header header'
                         'left left content content right right'
                         'footer footer footer footer footer footer';
    gap: 10px;
    background-color: navy;
    margin: 8px 12px;

}
.grid div{
    background-color: lightyellow;
    text-align: center;
    font-size: 25px;
    padding: 8px 0;
}
